
.pB{
    background-image: url(images/fondo-bienvenido-grande.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    padding:300px 10px;
}

.bottom{
    padding-left:10px;
    padding-bottom:40px;
    padding-top:10px;
    padding-right:10px; 
    margin:auto;
    width:250px;
    height:25px;
    text-align:center;    
  
}

.main-links{
    display:flex;
    gap:1rem;
    list-style:none;
    float:right;
    
}

li a{
    margin:5px;
    text-decoration:none;
    color:white;
}

.titulo{
color:white;
  
}