
header{
    background-image: url(images/fondo-bienvenido-grande.jpg) ;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;   
}

.bottom{
    padding-left:10px;
    padding-bottom:40px;
    padding-top:10px;
    padding-right:10px; 
    margin:auto;
    width:250px;
    height:25px;
    text-align:center;  
    border-radius:5px;  
}

.main-links{
    display:flex;
    gap:1rem;
    list-style:none;
    float:right;
}

li a{
    margin:5px;
    text-decoration:none;
    color:white;
}

.titulo{
color:white;
}

.image{
    padding:5px 5px;
    border-radius:5px;
}

.mover{
    display:flex;
    justify-content: space-between;
}
.mover > li{
float:right;
}

.header{
    background-color:rgba(0, 0, 0, 0.5);
}

.skiner{
    color:white;
    text-decoration:none;
    list-style:none;
    padding-left:10px;
    padding-right:10px;
}

.contenedores{
    width:200px;
    height:100px;
    margin-left:100px;
    margin-right:100px    
}