* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    overflow: hidden;
}

:root {
    --light-blue: #CCDCF2; 
    --dark-blue: #5A7BB5;
    --white: #F4F6FC;
    --black: #000;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-blue);
    overflow: hidden;
}


#container-elipses {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#elipse-top-right {
    width: 36.9375rem;
    height: 36.9375rem;
    border-radius: 36.9375rem;
    background: linear-gradient(180deg, var(--dark-blue) 0%, rgba(90, 123, 181, 0.00) 100%);
    position: absolute;
    right: -13rem;
    top: -10rem;
}

#elipse-center-right {
    width: 20.14188rem;
    height: 20.14188rem;
    transform: rotate(-110.955deg);
    border-radius: 20.14188rem;
    background: linear-gradient(180deg, var(--white) 0%, rgba(90, 123, 181, 0.00) 100%);
    position: absolute;
    right: -3rem;
    top: 20rem;
}

#elipse-center-down {
    width: 36.9375rem;
    height: 36.9375rem;
    transform: rotate(-67.013deg);
    border-radius: 36.9375rem;
    background: linear-gradient(180deg, var(--dark-blue) 0%, rgba(90, 123, 181, 0.00) 100%);
    position: absolute;
    bottom: -20rem;
    right: 22rem;
    z-index: 30;
}

#elipse-big-one {
    width: 85.6875rem;
    height: 85.6875rem;
    transform: rotate(-0.828deg);
    border-radius: 85.6875rem;
    background: linear-gradient(180deg, var(--white) 4.81%, rgba(90, 123, 181, 0.00) 30%);
    position:absolute;
    left: 2rem;
    top: 10rem;
    z-index: -2;
}

#elipse-top-left {
    width: 43.61444rem;
    height: 43.61444rem;
    transform: rotate(-45.331deg);
    border-radius: 43.61444rem;
    background: linear-gradient(180deg, #5A7BB5 0%, rgba(90, 123, 181, 0.00) 100%);
    position: absolute;
    left: -22rem;
    top: 7rem;
}

.formModal {
    width: 35%;
    height: 90%;
    border-radius: 0.9375rem;
    background: var(--white);
    box-shadow: 7px 19px 34px -4px rgba(0, 0, 0, 0.40);
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
}

.title h6 {
    color: var(--black);
    text-align: center;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title p {
    color: var(--black);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 3rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 0px 10%;

}

.input-group input {
    border-radius: 0.54rem;
    background: #F5F5F5;
    box-shadow: 0px -1px 32px 0px rgba(0, 0, 0, 0.08) inset;
    height: 2.3rem;
    flex-shrink: 0;
    border: none;
    padding: 1rem;
    font-weight: 600;
    font-size: 16px;
}

.input-group input:placeholder-shown{
    border: none;
    font-style: italic;
    font-weight: 300;
}

.input-group label {
    color: #000;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 1.2rem;
}

#ingresarBtn {
    width: 180px;
    height: 60px;
    border-radius: 45px;
    background: var(--dark-blue);
    box-shadow: 0px 7px 13px -1px rgba(0, 0, 0, 0.25);
    border: none;
    color: var(--white);
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 3rem;
}

.submit-group {
    display: flex;
    align-items: center;
}