html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-image: url("../../resources/fondo2.jpg");
    background-size: cover;
    backdrop-filter: blur(0px);
}

.general {
    height: 93%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.base {
    background-color: rgba(165, 165, 165, 0.37);
    width: 80%;
    border-radius: 10px;
    border-top: solid;
    border-top-color: white;
    border-top-width: 5px;
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: 5px;
}

.barra {
    display: flex;
}

.tama {
    width: 100%;

}

.head {
    background-color: rgba(26, 26, 26, 0.726);
}

.celda {
    color: white;
    margin: 0px;
    padding: 0px;
}

.card {
    background-color: rgb(198, 226, 255);
    border-radius: 10px;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    border-left: solid;
    border-right: solid;
    margin: 5px;
}

.letter {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-right: 10px;
}

.img {
    width: 100px;
}

.name {
    font-size: medium;
}

.fIngreso,
.cedula,
.skill {
    margin: 7px 0px;
    font-size: small;
}

.margin {
    margin: 10px 20px;
    display: flex;
    flex-wrap: wrap;
}
.text{
    width: 220px;
}
.DF{
display: flex;
align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.boxy{
    display: flex;
}

h1{
    color:white;
    margin: 0px 20px;
}