body{
    background-image: url(recursos/fondo-papel-grunge.jpg);
    background-size:cover;
    background-repeat: no-repeat;

}

.blocks{
    display:inline-block;
    width: 32%;
    
}

.titleG{
    top:0px;
    bottom: 0px;
    width:550px;
}

.title{
    font-size:29px;
    padding:30px 0px;
    
}

.general{
    display:inline-block;
}

.norm{
display:inline-flex;
position:relative;
right: 0px;
left: 0px;
margin: auto;
width: 90%;
padding:0px 50px
    
}

img{

    width: 100%;
}
 
.tromp{
width: 20%;
}

.box1{
    right: 0px;

}
.box2{
    left: 0px;
    padding-left:20px
    
}
.minip{
    font-size:10px;
}

.block1{
    left:0px;
    right: 0px;   

}