.scroll{
    overflow-y:scroll;
    height: 400px;
    
}

.tex{
    color:white;
}
.tit{
    color:white;
}
.image{
    width:99%;
    padding-bottom: 15px;
    border-radius: 50px;
}
.title{
    color:white;
    font-size:larger;
    padding: 40px 0px;
    font-size: 200%;

}

.center{
    text-align: center;
}

.imagenes{
    height: 50px;
    border-radius: 150px;
    padding: 5px 3px;
}

.lowpart{
    display:flex;
    flex-wrap:wrap;
    padding: 20px 0px;
}
.botton{
    background-color:rgba(14, 36, 1, 0.9);
    text-align: center;
    color: white;
    margin:10px 0px;

}
body{
    background-image: url(recursos/zaun-breatherstation.jpg);
    background-size: cover;
    background-position: center;
}
.ventana{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    position: absolute;
    z-index: -1;
}

.title2{
    color:white;
}

.icon{
    width:50px;
}

.imagenss{
    align-items: center;
    height: 100%;
    width: 70%;
    overflow:visible
}

.fooder{
    background-color: rgba(14, 36, 1, 0.9);
    color: white;
    height: 300px;
}

.men{
    color:white;
    background-color: rgba(14, 36, 1, 0.9);
    text-align: center;
    text-decoration: none;
    padding:10px 0px;
    margin-bottom: 20px;
}

.arre
{
    align-items: center;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.men:hover{
    color:white;
    background-color:green;
}